.Datos{
    margin-left: 200px;
    font-family: 'Lato',sans-serif;
}

.CampoStatus{
    margin-left: 17px;
    font-family: 'Lato',sans-serif;
}

section{
    display: block;
    margin-left: auto;
    height: 100px;
    margin-right: 600px;
    width: 50px;
    margin-top: -390px;
}

.BotonesRegistro{
    margin-top: 20px;
    margin-left: 290px;
    margin-right: 20px;
    padding: 3px;
    width: 80px;

}

.BotonVer{
    padding: 3px;
    width: 80px;
}

.BotonBuscar{
    display: block;
    margin-left: 590px;
    padding: 3px;
    width: 80px;
    margin-top: -25px;
   
}

.CampoBuscar{
    display: block;
    margin-left: 400px;
    margin-top: 400px;
    padding: 3px;
}

.cajatexto{
    width: 345px;
    height: 80px;
}

.check{
    display: flex;
    flex-direction: column;
    margin-left: 190px;
    margin-top: -10px;
}

.ItemsTabla{
    justify-content: space-between;
    display: flex;
    margin-top: 80px;
    margin-left: 400px;
    width: 100%;
}

.LeyendaMostrar{
    margin-top: 30px;
    margin-left: 280px;
}

.pages{
    margin-left: 950px;
    margin-top: -25px;
    list-style: none;
    display: flex;
}

