body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}


.body_login {
  background-color: rgb(247, 244, 244);
  height: 100vh;
}
.formulario {
  background: rgb(247, 244, 244);
  width: 28%;
  height: 76%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.logo {
  padding: 10px;
  width: 150px;
  filter: drop-shadow(6px 6px 5px rgb(75, 72, 72));
  
}

.titulo_login {
  margin: 20px;
  font-weight: bold;
  font-size: 45px;
  text-shadow: 2px 4px 4px rgb(37, 36, 36);
}

.posicion {
  margin-top: 30px;

}

.posicion > div {
  margin-top: 20px;
}

.caja-input {
  background-color: white;
  display: flex;
  margin: 0;
  border: 1px solid rgb(202, 199, 199);
  border-radius: 4px;
  height: 35px;
  
}

.caja-input:focus-within {
  border: 2px solid rgb(72, 72, 73);
}

.caja-input > input {
  outline: none;
  border: 0px;
  position: relative;
  left: 10px;
  width: 90%;

}

.icono {
  position: relative;
  top: 9px;
  left: 5px;
}

.boton-generico {
  background-color: rgb(158, 155, 155);
  border:none;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  font-size: 15px;
}

.boton-generico:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: rgba(122, 126, 123, 0.836);
}

.boton-entrar {
  background-color: rgb(6, 112, 38);
  color: white;
  font-weight: 950;
}

.boton-entrar:hover{
  cursor: pointer;
  transform: scale(1.02);
  background-color: rgb(6, 95, 40);
}

.enlace {
 display: flex;
 justify-content: space-between;
 color: rgb(2, 2, 97);
 font-weight: 500;
  
}
.sidebar{
  border: solid 1px;
  position: fixed;
  width: 200px;
  height: 100%;
  background: rgb(214, 212, 212);
}
.sidebar > ul {
  text-align: center;

}
.navbar > button {
  width: 100px;
}

.navbar {
  display: flex;
  position: absolute;
  height: 50px;
  width: 100%;
  background: rgb(214, 212, 212);
}

.navbar > ul {
  display: flex;
  position: relative;
  left: 1065px;
  text-align: center;
}

.botonav {
  width: 100px;
  height: 100%;
  font-size: 15px;
}

.nnn {
  display: flex;
  justify-content: center;
  left: 1000px;
}

.botonG {
  width: 100%;
  height: 50px;
  font-size: 15px;
}

.fondo {
  background-color: white;
}
