@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
/* Nav Bar Styles ------------------------------------------------------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

/* topbar settings */
nav {
  position: fixed;
  width: 2200px;
  height: 60px;
  background-color: #fbfafa;
  border-bottom: 1px solid rgba(97, 97, 97, 0.1);
}

.navlinks {
  float: right;
  margin-right: 0%;
  cursor: pointer;
}

.navlinks li {
  display: inline-block;
  line-height: 60px;
  padding: 0px 25px 0px 25px;
}

nav a {
  color: #47525E;
  letter-spacing: 0px;
  font-family: 'Lato',sans-serif;
  font-size: 18px;
  font-weight: Regular;
}

nav li:hover {
  background-color: rgba(73, 72, 72, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* leftbar settings */
#leftbar {
  background-color: #fbfafa;
  border-right: 1px solid rgba(97, 97, 97, 0.1);
  position: fixed;
  width: 200px;
  height: 900%;
  padding: 15px 0px;
}

#logo {
  padding-right: 13px;
  padding-left: 5px;
  padding-bottom: 12px;
}

#leftbar li {
  border-bottom: 1px solid rgba(97, 97, 97, 0.1);
  border-top: 1px solid rgba(97, 97, 97, 0.1);
  font-family: 'Roboto',sans-serif;
  font-size: 18px;
  font-weight: regular;
  width: 100%;
}
.Logout_logo {
  width: 6%;
  display: inline-block;
}

#leftbar li:hover {
  background-color: rgba(73, 72, 72, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#leftbar_links a {
  color: #47525E;
}

/* Cuerpo Central main */

.cuerpo_central {
  width: 89.54vw;
  height: 93vh;
  position: absolute;
  left: 201px;
  top: 62px;
  overflow:hidden
}

body {
  background-color: white;
}

/* Index Ventas Style -------------------------------------------------------------*/

.cuerpo_central__Ventas-index-titulo {
  position: absolute;
  width: 223px;
  height: 84px;
  left: 42.4%;
  top: 156px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
}

.cuerpo_central__opciones {
  position: absolute;
  left: 20.5%;
  top: 256px;
  height: 450px;
  width: 1050px;
}

.cuerpo_central__opciones div {
  background: green;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  padding-top: 80px;
  height: 350px;
  border-radius: 21px;
  width: 320px;
  float: left;
  margin: 2px;
  background: rgba(117, 231, 149, 0.12);
}

.Button_grande{
  position: relative;
  top: 7%;
  left: 0%;
  border: none;
  padding: 15px 60px;
  font-family: 'Roboto',sans-serif;
  font-size: 24px;
  background: #FBFAFA;
  border-radius: 56px;
  cursor: pointer;
}


.cuerpo_central__opciones button:hover {
  background-color: rgba(148, 148, 148, 0.2);
}

.Buscador_index_Ventas {
  position: relative;
  top: 7%;
  left: 6%;
  height: 0px !important;
  width: 280px !important;
  padding-top: 60px !important;
  border: none;
  background: #FBFAFA !important;
  border-radius: 56px;
  font-size: 200px;
}

.Buscador_index_Ventas input {
  position: absolute;
  top: 12%;
  left: 5%;
  border: none;
  border-radius: 56px;
  padding: 15px;
  font-size: 14px;
}

.Buscador_index_Ventas input:focus {
  outline: none;
}

.Buscador_index_Ventas button {
  position: absolute;
  top: 20%;
  left: 80%;
  padding: 0;
  height: 40px;
  width: 40px;
  border-radius: 56px;
  border: none;
  background: #FBFAFA;
  cursor: pointer;
}

.Buscador_index_Ventas img {
  height: 40px;
  width: 40px;
}

/* Tabla Styles --------------------------------------------------------------------- */

.cuerpo_central__Ventas-tabla-titulo {
  position: relative;
  font-family: 'Roboto',sans-serif;
  font-size: 63px;
  top: 10px;
  left: 20px;
  opacity: .35;
} 

.tabla th {
  font-family: 'Roboto',sans-serif;
  background: white;
  border-radius: 7px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid rgba(0, 0, 0, 0.22);
}

.tabla th:nth-child(8) {
  font-family: none;
  background: none;
  border-radius: none;
  padding-left: none;
  padding-right: none;
  padding-top: none;
  padding-bottom: none;
  border: none;
}

.tabla td {
  font-family: 'Roboto',sans-serif;
  background-color: white;
  border-radius: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid rgba(0, 0, 0, 0.22);
  text-align: center;
  display: table-cell;
  
}

.tabla input {
  font-size: 100%; 
  font-family: 'Roboto',sans-serif;
  border:none;
  text-align: center;
  height: 30px;
  background: none;
  width: 100%;
  outline: none;
}

.tabla td:nth-child(8) {
  background-color: #FBFAFA;
  border-radius: 20px;
  padding-top: none;
  padding-bottom: none;
  border: none;
  text-align: none;
}


.tabla td:nth-child(7):hover {
  cursor: pointer;
  background-color:rgba(148, 148, 148, 0.2);
}

.tabla img:hover {

  background-color: rgba(148, 148, 148, 0.2);
  cursor: pointer;
  border-radius: 5px;
}

.guardar_cambios img {
  display: inline-table;
  margin-top: 7px;
  height: 30px;
  width: 30px;
}

.guardar_cambios img:hover {
  background-color: rgba(148, 148, 148, 0.2);
  cursor: pointer;
  border-radius: 5px;
}

.tabla img {
  margin-right: 7px;
}



.campo {
  outline: none;
}


.tabla {
  position: absolute;
  left: 0%;
  top: 10%;
  width: 100%;
  background: #FBFAFA;
  border-radius: 50px;
}


.tabla tbody tr:hover {
  outline: solid 2px rgba(148, 148, 148, 0.6);
  border-radius: 50px;
}

.tabla tbody tr {
  height: 0;
}

.tabla table {
  position: relative;
  left: .05%;
  border-collapse: separate;
  border-spacing: 20px 20px;
  width: 100%;
  table-layout: auto
}

.Buscador_Tabla_Ventas {
  position: absolute;
  top: 3%;
  left: 82.5%;
  height: 0px;
  width: 280px;
  padding-top: 60px;
  border: none;
  background: #FBFAFA;
  border-radius: 56px;
  font-size: 200px;
}

.Buscador_Tabla_Ventas input {
  position: absolute;
  top: 12%;
  left: 5%;
  border: none;
  border-radius: 56px;
  padding: 15px;
  font-size: 14px;
}

.Buscador_Tabla_Ventas input:focus {
  outline: none;
}

.Buscador_Tabla_Ventas button {
  position: absolute;
  top: 20%;
  left: 80%;
  padding: 0;
  height: 40px;
  width: 40px;
  border-radius: 56px;
  border: none;
  background: #FBFAFA;
}

.Buscador_Tabla_Ventas img {
  height: 40px;
  width: 40px;
}

.Buscador_Tabla_Ventas button:hover {
  background-color: rgba(148, 148, 148, 0.2);
}

#tabla__estado_selector {
  border: none;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  font-size: 17px;
}

#tabla__estado_selector option {
  border-radius: 15px;
  border:0;
  margin: 0;
}

.Guardar-Popup {
  border-radius: 40px;
  top: 10%;
  position: absolute;
  height: 750px;
  width: 300px;
  left: 80%;
  background: #FBFAFA;
}

.Guardar-Popup__titulo {
  position: relative;
  top: 5%;
  font-family: 'Roboto',sans-serif;
  text-align: center;
}

.Guardar-Popup__button {
  position: relative;
  top: 10%;
  left: 15%;
  border: none;
  padding: 15px 60px;
  font-family: 'Roboto',sans-serif;
  font-size: 24px;
  background: white;
  border-radius: 56px;
  cursor: pointer;
}

.Guardar-Popup__button:hover {
  background-color: rgba(148, 148, 148, 0.2);
}

a {
  color: #47525E;
}

a:visited {
  text-decoration: none;
}

.Guardar-Popup img {
  position: relative;
  top: 6%;
  left: 25%;
  width: 150px;
  height: 150px;
}

/* Detalles style ------------------------------------------------------------------ */

.detalles {
  position: absolute;
  height: 770px;
  width: 1620px;
  background: #FBFAFA;
  top: 11%;
  left: 1%;
  border-radius: 40px;
}

.cuerpo_central__detalles-titulo {
  position: absolute;
  top: 3%;
  left: 1%;
  font-size: 64px;
  font-family: 'Roboto',sans-serif;
  color: rgba(0, 0, 0, 0.35);
}

.cuerpo_central__detalles-tabla {
  position: absolute;
  top: 10%;
  left: -1.2%;
  border-collapse: separate;
  border-spacing: 40px 30px;
}

.cuerpo_central__detalles-tabla th {
  font-family: 'Roboto',sans-serif;
  font-size: 24px;
}

.cuerpo_central__detalles-tabla td {
  font-family: 'Roboto',sans-serif;
  font-size: 24px;
  text-align: center;
}

/* Registro Ventas Styles ------------------------------------------------------------*/


.TituloNuevaVenta {
  position: absolute;
  top: 3%;
  left: 1%;
  font-size: 64px;
  font-family: 'Roboto',sans-serif;
  color: rgba(0, 0, 0, 0.35);
}

.products_BOX {
  position: relative;
  background-color:white;
  height: 70%;
  width: 55%;
  left: 10%;
  top: 20%;
  border-radius: 10%;
  border: solid 2px grey;
}

.products_BOX h1 {
  position: relative;
  top: 4%;
  left: 2%;
  font-size: 48px;
  font-family: 'Roboto',sans-serif;
  color: rgba(0, 0, 0, 0.35);
}
.FormularioNuevaVenta {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20%;
  max-width: 50%;
  left: 0%;
}

.FormularioNuevaVenta input {
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.22);
}

.FormularioNuevaVenta select {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.FormularioNuevaVenta label {
font-family: 'Roboto',sans-serif;
font-weight: 700;
justify-content: left;
align-items: left;
display: flex;
}

.ModalNuevaVenta_button {
  position: relative;
  top: 7%;
  left: 7%;
  border: none;
  padding: 15px 60px;
  font-family: 'Roboto',sans-serif;
  font-size: 24px;
  background: white;
  border-radius: 56px;
  cursor: pointer;
}

.ModalNuevaVenta_button:hover {
  background-color: rgba(148, 148, 148, 0.2);
}

.tabla__nuevaventa {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 2%;
  top: 1%;
  height: 750px;
  width: 77%;
  background: #FBFAFA;
  border-radius: 50px;
}

.formulario_nuevaventa_productosfields {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.formulario_nuevaventa_clientes {
  display: flex;
  flex-direction: row;
}

.formulario_nuevaventa_clientes label {
  position: relative;
  left: 8px;
}

.formulario_nuevaventa_productos {
  width: 80%;
  margin-right: 10px;
}

.formulario_nuevaventa_cantidad {
  width: 0%;
  margin-right: 10px;
}

.formulario_nuevaventa_cliente {

  width: 100%;
  margin-right : 10px;
}

.formulario_nuevaventa_cliente input {

  width: 100%;
}

.formulario_nuevaventa_productos_boton {
  position: relative;
  top: 14px;
  left: 22%;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 45px;
  max-height:20px;
  text-align: justify;
  font-size: 40px;
  font-weight: bold;
  align-items: center;
  border-radius: 100%;
  border: none;
background-color: white;
}

.formulario_nuevaventa_productos_boton:hover {
  background-color: rgba(148, 148, 148, 0.2);;
  cursor: pointer;
}

.formulario_nuevaventa_cantidad input {
  margin: 2px;
  border-radius: 5%;
}

.formulario_nuevaventa_cantidad label {
  position: relative;
  left: 2px;
}


/* Minicard Styles----------------------------------------------------------------------------------------------------------------------- */

.minicards_titulo {

  margin-bottom: 20px;
}

.minicards_container {
  display: inline-flex;
  flex-direction: row;
}

.minicard {
  margin: 10px;
  background-color: aliceblue;
  border-radius: 15px;
  font-size: small;
  font-family:'Roboto',sans-serif;
  padding: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
}