@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.cuerpo_central {
  width: 89.54vw;
  height: 93.6vh;
  position: absolute;
  left: 201px;
  top: 62px;
  display: -ms-grid;
  display: grid;
}

.cuerpo_central__titulo {
  position: absolute;
  width: 223px;
  height: 84px;
  left: 900px;
  top: 156px;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
}

.cuerpo_central__opciones {
  position: absolute;
  left: 680px;
  top: 256px;
  height: 450px;
  width: 650px;
}

.cuerpo_central__opciones div {
  background: green;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  padding-top: 80px;
  height: 350px;
  border-radius: 21px;
  width: 320px;
  float: left;
  margin: 2px;
  background: rgba(117, 231, 149, 0.12);
}

.cuerpo_central__opciones-caja1 button {
  position: absolute;
  top: 50%;
  left: 11%;
  border: none;
  padding: 15px 60px;
  font-family: 'Roboto',sans-serif;
  font-size: 24px;
  background: #FBFAFA;
  border-radius: 56px;
}

a {
  color: #47525E;
}

a:visited {
  text-decoration: none;
}

.cuerpo_central__opciones button:hover {
  background-color: rgba(148, 148, 148, 0.2);
}

.cuerpo_central__opciones-caja2-buscador {
  position: absolute;
  top: 50%;
  left: 53%;
  height: 0px !important;
  width: 280px !important;
  padding-top: 60px !important;
  border: none;
  background: #FBFAFA !important;
  border-radius: 56px;
  font-size: 200px;
}

.cuerpo_central__opciones-caja2-buscador input {
  position: absolute;
  top: 12%;
  left: 5%;
  border: none;
  border-radius: 56px;
  padding: 15px;
  font-size: 14px;
}

.cuerpo_central__opciones-caja2-buscador input:focus {
  outline: none;
}

.cuerpo_central__opciones-caja2-buscador button {
  position: absolute;
  top: 20%;
  left: 80%;
  padding: 0;
  height: 40px;
  width: 40px;
  border-radius: 56px;
  border: none;
  background: #FBFAFA;
}

.cuerpo_central__opciones-caja2-buscador img {
  height: 40px;
  width: 40px;
}
