@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h1{
    position: relative;
    font-family: 'Roboto',sans-serif;
    font-size: 63px;
    top: 10px;
    left: 20px;
    opacity: .35;
}

.tabla th{
    font-family: 'Roboto',sans-serif;
    background: white;
    border-radius: 7px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid rgba(0, 0, 0, 0.22);
    
}

.tabla td{
    font-family: 'Roboto',sans-serif;
    background-color: white;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.22);
    text-align: center;
}
.tabla{
    position: absolute;
    left: 5%;
    top: 10%;
    height: 750px;
    width: 1260px;
    background: #FBFAFA;
    border-radius: 50px;
}
.tabla table{
    position: relative;
    left: .05%;
    border-collapse: separate;
    border-spacing: 45px 20px;
}

.cuerpo_central__opciones-caja2-buscador{
    position: absolute;
    top: 3%;
    left: 62%;
    height: 0px;
    width:280px;
    padding-top: 60px;
    border: none;
    background: #FBFAFA;
    border-radius: 56px;
    font-size: 200px;
}

.cuerpo_central__opciones-caja2-buscador input{
    position: absolute;
    top: 12%;
    left:5%;
    border: none;
    border-radius: 56px;
    padding: 15px;
    font-size: 14px;
}
.cuerpo_central__opciones-caja2-buscador input:focus{
   outline: none;
}

.cuerpo_central__opciones-caja2-buscador button{
    position: absolute;
    top:20%;
    left: 80%;
    padding: 0;
    height: 40px;
    width: 40px;
    border-radius: 56px;
    border: none;
    background: #FBFAFA;
}

.cuerpo_central__opciones-caja2-buscador img{
    height: 40px;
    width: 40px;
}
.cuerpo_central__opciones-caja2-buscador button:hover{
    background-color: rgba($color: #949494, $alpha: .2)
}

#tabla__estado_selector{
    border: none;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 17px;
}

#tabla__estado_selector option{
    border-radius: 15px;
}

.Guardar-Popup {
    border-radius: 40px;
    top: 10%;
    position: absolute;
    height: 750px;
    width: 300px;
    left: 79%;
    background: #FBFAFA;
}

.Guardar-Popup__titulo{
    position: relative;
    top:5%;
    font-family: 'Roboto',sans-serif;
    text-align: center;
}

.Guardar-Popup__button {
    position: relative;
    top: 10%;
    left: 15%;
    border: none;
    padding: 15px 60px;
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
    background: white;
    border-radius: 56px;   
}

.Guardar-Popup__button:hover{
background-color: rgba($color: #949494, $alpha: .2)
}

a{
    color: #47525E;
}

a:visited{
    text-decoration: none;
}