* {
    margin: 0;
    padding: 0;
}
.formulario {
    position: relative;
    top: -10px;
    border: solid rgb(175, 173, 173) 1px;
    background: white;
    width: 350px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.logo {
    padding: 10px;
    width: 150px;
    filter: drop-shadow(6px 6px 5px rgb(75, 72, 72));
    
}

h1 {
    margin: 20px;
    font-family: cursive;
    font-size: 35px;
    text-shadow: 4px 4px 4px rgb(37, 36, 36);
}